.statistics {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.statistics .title {
  text-align: center;
  background-color: white;
  margin: 0;
  padding: 20px;
  color: rgb(100, 100, 100);

  font-size: 16px;

  text-transform: uppercase;
}

.statistics ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.statistics ul li {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: calc(400px / 5);

  color: white;
}

.statistics li .label {
  font-size: 12px;
  margin: 5px 0;
}

.statistics li .percentage {
  font-size: 20px;
  margin-bottom: 10px;
}
